<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Intelligence - Corporate Category Bootstrap Responsive Website Template - Blog</title>

    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="assets/css/style-liberty.css">

</head>

<body>
<!-- top header -->
<section class="w3l-top-header">
    <div class="container">
        <div class="top-content-w3ls d-flex align-items-center justify-content-between">
            <div class="top-headers">
                <ul>
                    <li>
                        <i class="fa fa-map-marker-alt"></i><a href="#address">London, 235 Terry, 10001</a>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i><a href="tel:+1(21) 234 4567">+1(21) 234 4567</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i><a href="mailto:mail@example.com">mail@example.com</a>
                    </li>
                </ul>
            </div>
            <div class="top-headers top-headers-2">
                <ul>
                    <li>
                        <a href="#facebook"><span class="fab fa-facebook-f"></span></a>
                    </li>
                    <li>
                        <a href="#twitter"><span class="fab fa-twitter"></span></a>
                    </li>
                    <li>
                        <a href="#instagram"><span class="fab fa-instagram"></span></a>
                </li>
                <li class=" mr-0">
                        <a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- //top header -->

<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="index.html">
                    <span class="fa fa-lightbulb"></span> Intelligence
                </a>
            </h1>
            <!-- if logo is image enable this   
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Blog <span class="fas fa-angle-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item active" href="blog.html">Blog</a>
                            <a class="dropdown-item" href="blogsingle.html">Blog Single</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pages <span class="fas fa-angle-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="error.html">404 Page</a>
                            <a class="dropdown-item" href="email-template.html">Email Template</a>
                            <a class="dropdown-item" href="landing-single.html">Landing Page</a>
                            <a class="dropdown-item" href="shortcodes.html">Shortcodes</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>

                    <!--/search-right-->
                    <ul class="header-search">
                        <li class="nav-item search-right">
                            <a href="#search" class="btn search-btn btn-light" title="search"><span class="fas fa-search" aria-hidden="true"></span></a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h3 class="title-w3l two mb-4 text-left">Search Here</h3>
                                    <form action="#" method="GET" class="search-box d-sm-flex position-relative">
                                        <input type="search" placeholder="Enter Keyword here" name="search" required="required" autofocus="">
                                        <button type="submit" class="btn btn-style btn-primary"> Search</button>
                                    </form>
                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- /search popup -->
                        </li>
                    </ul>
                    <!--//search-right-->
                </ul>
            </div>
            <!-- search button -->

            <!-- //search button -->

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//header-->


<!-- about banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="banner-info-grid px-md-5">
                <h2 class="w3l-title-breadcrumb mb-3">Blog - right sidebar</h2>
                <p class="inner-page-para px-lg-5">Feel free to learn more about our team and company on this page. We are always happy to help you!</p>
            </div>
        </div>
    </div>
</section>
<!-- //about banner -->



<!-- Blog Section -->
<section class="w3l-blog">
    <div class="blog py-5" id="Newsblog">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-lg-8"> 
                    <div class="row">
                        <div class="col-lg-6 col-md-6 item">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blogsingle.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/blog1.jpg"
                                            alt="Card image cap">
                                    </a>
                                    <div class="date">
                                        <p>20 Mar, 22</p>
                                    </div>
                                </div>
                                <div class="card-body blog-details">
                                    <div class="price-review mb-1 align-items-center">
                                        <p>Startup Business</p>
                                    </div>
                                    <a href="blogsingle.html" class="blog-desc">How will you know success when it shows </a>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author"> 
                                            <img src="assets/images/team1.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> Charlotte lucy</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 item mt-md-0 mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blogsingle.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/blog2.jpg"
                                            alt="Card image cap">
                                    </a>
                                    <div class="date">
                                        <p>20 Mar, 22</p>
                                    </div>
                                </div>
                                <div class="card-body blog-details">
                                    <div class="price-review mb-1 align-items-center">
                                        <p>Marketing Strategy</p>
                                    </div>
                                    <a href="blogsingle.html" class="blog-desc">What we are capable to usually discovered.</a>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author"> 
                                            <img src="assets/images/team2.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> Olivia stella</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 item mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blogsingle.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/blog3.jpg"
                                            alt="Card image cap">
                                    </a>
                                    <div class="date">
                                        <p>20 Mar, 22</p>
                                    </div>
                                </div>
                                <div class="card-body blog-details">
                                    <div class="price-review mb-1 align-items-center">
                                        <p>Web Development</p>
                                    </div>
                                    <a href="blogsingle.html" class="blog-desc">Company opens green design data center</a>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author"> 
                                            <img src="assets/images/team3.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> Jackson jack</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 item mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blogsingle.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/blog4.jpg"
                                            alt="Card image cap">
                                    </a>
                                    <div class="date">
                                        <p>20 Mar, 22</p>
                                    </div>
                                </div>
                                <div class="card-body blog-details">
                                    <div class="price-review mb-1 align-items-center">
                                        <p>Startup Business</p>
                                    </div>
                                    <a href="blogsingle.html" class="blog-desc">How will you know success when it shows </a>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author"> 
                                            <img src="assets/images/team1.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> Charlotte lucy</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 item mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blogsingle.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/blog5.jpg"
                                            alt="Card image cap">
                                    </a>
                                    <div class="date">
                                        <p>20 Mar, 22</p>
                                    </div>
                                </div>
                                <div class="card-body blog-details">
                                    <div class="price-review mb-1 align-items-center">
                                        <p>Marketing Strategy</p>
                                    </div>
                                    <a href="blogsingle.html" class="blog-desc">What we are capable to usually discovered.</a>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author"> 
                                            <img src="assets/images/team2.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> Olivia stella</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 item mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blogsingle.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="assets/images/blog6.jpg"
                                            alt="Card image cap">
                                    </a>
                                    <div class="date">
                                        <p>20 Mar, 22</p>
                                    </div>
                                </div>
                                <div class="card-body blog-details">
                                    <div class="price-review mb-1 align-items-center">
                                        <p>Web Development</p>
                                    </div>
                                    <a href="blogsingle.html" class="blog-desc">Company opens green design data center</a>
                                </div>
                                <div class="card-footer">
                                    <div class="author align-items-center">
                                        <a href="#author" class="post-author"> 
                                            <img src="assets/images/team3.jpg" alt="" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">by</span><a href="#author"> Jackson jack</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- pagination -->
                        <div class="pagination-wrapper mt-5 pt-lg-3 text-center">
                            <ul class="page-pagination">
                                <li><span aria-current="page" class="page-numbers current">1</span></li>
                                <li><a class="page-numbers" href="#url">2</a></li>
                                <li><a class="page-numbers" href="#url">3</a></li>
                                <li><a class="page-numbers" href="#url">...</a></li>
                                <li><a class="page-numbers" href="#url">15</a></li>
                                <li><a class="next" href="#url">Next <span class="fa fa-angle-right"></span></a></li>
                            </ul>
                        </div>
                        <!-- //pagination -->

                    </div>
                </div>

                <!-- right side bar -->
                <div class="col-lg-4 right-side-bar mt-lg-0 mt-5 ps-lg-5">

                    <aside class="posts p-4">
                        <h3 class="aside-title">All Categories</h3>
                        <ul class="category">
                            <li><a href="#link"><span class="fas fa-angle-right"></span>All <label> (11)</label></a></li>
                            <li><a href="#link"><span class="fas fa-angle-right"></span> UI/UX design <label>(24)</label></a></li>
                            <li><a href="#link"><span class="fas fa-angle-right"></span> Web marketing<label>(18)</label></a></li>
                            <li><a href="#link"><span class="fas fa-angle-right"></span> Startup business <label>(08)</label></a></li>
                            <li><a href="#link"><span class="fas fa-angle-right"></span> IT Services <label>(38)</label></a></li>

                        </ul>
                    </aside>
                    <aside class="posts p-4">
                        <h3 class="aside-title">Recent Posts</h3>
                        <div class="posts-grids">
                            <div class="posts-grid-inner">
                                <div class="posts-grid-left ps-0">
                                    <a href="blogsingle.html">
                                        <img src="assets/images/blog1.jpg" alt=" " class="img-fluid">
                                    </a>
                                </div>
                                <div class="posts-grid-right">
                                    <h4>
                                        <a href="blogsingle.html" class="text-bl">Sed ut perspiciatis</a>
                                    </h4>
                                    <span class="time"> 11 Minutes ago</span>
                                </div>
                            </div>
                            <div class="posts-grid-inner">
                                <div class="posts-grid-left ps-0">
                                    <a href="blogsingle.html">
                                        <img src="assets/images/blog2.jpg" alt=" " class="img-fluid">
                                    </a>
                                </div>
                                <div class="posts-grid-right">
                                    <h4>
                                        <a href="blogsingle.html" class="text-bl">Unde omnis iste natus</a>
                                    </h4>
                                    <span class="time"> 15 Minutes ago</span>
                                </div>
                            </div>
                            <div class="posts-grid-inner">
                                <div class="posts-grid-left ps-0">
                                    <a href="blogsingle.html">
                                        <img src="assets/images/blog3.jpg" alt=" " class="img-fluid">
                                    </a>
                                </div>
                                <div class="posts-grid-right">
                                    <h4>
                                        <a href="blogsingle.html" class="text-bl">Otam rem aperiam</a>
                                    </h4>
                                    <span class="time"> 11 Minutes ago </span>
                                </div>
                            </div>
                        </div>
                    </aside>

                    <aside class="posts p-4">
                        <h3 class="aside-title">Our Gallery</h3>
                        <div class="posts-grid">
                            <a href="blogsingle.html">
                                <img src="assets/images/blog1.jpg" alt=" " class="img-fluid">
                            </a>
                            <a href="blogsingle.html">
                                <img src="assets/images/blog2.jpg" alt=" " class="img-fluid">
                            </a>
                            <a href="blogsingle.html">
                                <img src="assets/images/blog3.jpg" alt=" " class="img-fluid">
                            </a>
                            <a href="blogsingle.html">
                                <img src="assets/images/blog4.jpg" alt=" " class="img-fluid">
                            </a>
                            <a href="blogsingle.html">
                                <img src="assets/images/blog5.jpg" alt=" " class="img-fluid">
                            </a>
                            <a href="blogsingle.html">
                                <img src="assets/images/blog6.jpg" alt=" " class="img-fluid">
                            </a>
                        </div>
                    </aside>
                    <aside class="posts p-4">
                        <h3 class="aside-title">Popular Tags</h3>
                        <ul class="tags-list">
                            <li><a href="#tag">Web</a></li>
                            <li><a href="#tag">Design</a></li>
                            <li><a href="#tag">Strategy</a></li>
                            <li><a href="#tag">Build</a></li>
                            <li><a href="#tag">Future</a></li>
                            <li><a href="#tag">Dream</a></li>


                        </ul>
                    </aside>
                    <aside class="posts p-4">
                        <h3 class="aside-title">Advertisement</h3>
                        <a href="blogsingle.html">
                            <img src="assets/images/banner.jpg" alt=" " class="img-fluid">
                        </a>
                    </aside>
                </div>
                <!-- //right side bar -->
                
                
            </div>
        </div>
    </div>
</section>
<!-- //Blog Section -->


<!-- footer block -->
<footer class="w3l-footer-29-main">
    <div class="footer-29 pt-5 pb-4">
        <div class="container pt-md-4">
            <div class="row footer-top-29">
                <div class="col-lg-4 col-md-6 footer-list-29">
                    <h6 class="footer-title-29">Contact Info </h6>
                    <p class="mb-2 pe-xl-5">Address : Intelligence, 10001, 5th Avenue, #06 lane street, NY - 62617.
                    </p>
                    <p class="mb-2">Phone Number : <a href="tel:+1(21) 234 4567">+1(21) 234 4567</a></p>
                    <p class="mb-2">Email : <a href="mailto:info@example.com">info@example.com</a></p>
                    <p class="mb-2">Support : <a href="mailto:support@example.com">support@example.com</a></p>
                </div>
                <div class="col-lg-2 col-md-3 col-6 footer-list-29 mt-md-0 mt-4">
                    <ul>
                        <h6 class="footer-title-29">Quick Links</h6>
                        <li><a href="about.html">About Company</a></li>
                        <li><a href="blog.html">Blog Posts</a></li>
                        <li><a href="services.html">Our Services</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="shortcodes.html">Shortcodes</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-6 ps-lg-5 ps-lg-4 footer-list-29 mt-md-0 mt-4">
                    <ul>
                        <h6 class="footer-title-29">Explore</h6>
                        <li><a href="blog.html">Blog Posts</a></li>
                        <li><a href="#privacy">Privacy policy</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="#license">License & uses</a></li>
                        <li><a href="blog.html">View Articles</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 footer-list-29 mt-lg-0 mt-4 ps-lg-5">
                    <h6 class="footer-title-29">Subscribe</h6>
                    <form action="#" class="subscribe d-flex" method="post">
                        <input type="email" name="email" placeholder="Email Address" required="">
                        <button class="button-style"><span class="fa fa-paper-plane"
                                aria-hidden="true"></span></button>
                    </form>
                    <p class="mt-4">Subscribe to our mailing list and get updates to your email inbox.</p>
                </div>
            </div>
            <!-- copyright -->
            <p class="copy-footer-29 text-center mt-5 pb-2">© 2022 Intelligence. All rights reserved. <a target="_blank" href="http://www.mobanwang.com/" title="网页模板">网页模板</a></p>
            <!-- //copyright -->
        </div>
    </div>
</footer>
<!-- //footer block -->




<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- theme switch js (light and dark)-->
<script src="assets/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!--/stats-number-counter-->
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();

</script>
<!--//stats-number-counter-->

<!--/owlcarousel-->
<script src="assets/js/owl.carousel.js"></script>
<!-- //tesimonials-->
<script>
    $(document).ready(function() {
        $("#owl-demo1").owlCarousel({
            loop: true,
            nav: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                }
            }
        })
    })

</script>
<!-- //tesimonials-->

<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->

<!--bootstrap-->
<script src="assets/js/bootstrap.min.js"></script>
<!-- //bootstrap-->
<!-- //Js scripts -->


</body>

</html>