<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Intelligence - Corporate Category Bootstrap Responsive Website Template - Home</title>

    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="static/css/style-liberty.css">

</head>

<body>

<!-- top header -->
<section class="w3l-top-header">
    <div class="container">
        <div class="top-content-w3ls d-flex align-items-center justify-content-between">
            <div class="top-headers">
            </div>
            <div class="top-headers top-headers-2">
                <ul>
                    <li>
                        <a href="#facebook"><span class="fab fa-facebook-f"></span></a>
                    </li>
                    <li>
                        <a href="#twitter"><span class="fab fa-twitter"></span></a>
                    </li>
                    <li>
                        <a href="#instagram"><span class="fab fa-instagram"></span></a>
                </li>
                <li class=" mr-0">
                        <a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- //top header -->

<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="index.html">
                    <span class="fa fa-lightbulb"></span> 民族大数据
                </a>
            </h1>
            <!-- if logo is image enable this   
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">讨论情况分析</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">情感分析</a>
                    </li>
                     <li class="nav-item active">
                        <a class="nav-link" href="index2.html">社会网络关系分析<span class="sr-only">(current)</span></a>
                    </li>

                    <!--/search-right-->
                    <ul class="header-search">
                        <li class="nav-item search-right">
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h3 class="title-w3l two mb-4 text-left">Search Here</h3>
                                    <form action="#" method="GET" class="search-box d-sm-flex position-relative">
                                        <input type="search" placeholder="Enter Keyword here" name="search" required="required" autofocus="">
                                        <button type="submit" class="btn btn-style btn-primary"> Search</button>
                                    </form>
                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- /search popup -->
                        </li>
                    </ul>
                    <!--//search-right-->
                </ul>
            </div>
            <!-- search button -->

            <!-- //search button -->

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//header-->



<!-- Services banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="banner-info-grid px-md-5">
                <h2 class="w3l-title-breadcrumb mb-3">社会网络关系分析</h2>
                <p class="inner-page-para px-lg-5">社会网络关系图</p>
            </div>
        </div>
    </div>
</section>
<!-- //Services banner -->

<!-- Blog Section -->
<section class="w3l-blog">
    <div class="blog py-5" id="Newsblog">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="text-center mb-sm-5 mb-4">
            <section class="w3l-about py-5" id="about">
    <div class="container py-md-5 py-2">
        <div class="row w3l-row">
            <div class="col-lg-6 w3l-image pe-lg-5 mb-lg-0 mb-md-5 mb-4">
                <img src="static/images/wlt1.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 w3l-about-info px-lg-4 align-center">
                <h5 class="w3l-subtitle">鄂温克族</h5>
                <p class="my-4 pe-lg-5">首先，鄂温克旗、呼伦贝尔市、内蒙古自治区、伊图里河镇、大兴安岭等鄂温克族聚居区地名成为重要节点。其次，制度、发展、服务、防控、安全、保障、改革、高质量、意见建议、现代化、治安、检察机关等与发展与治理有关的节点互相连接。再次，林海雪原、草原、森林、降水、密林、野生、狩猎等与生态环境有关的节点相互连接，并与矛盾、发展等节点关联。值得注意的是，来自鄂温克族的著名作家迟子建也成为了一个重要节点，她的代表作品有《额尔古纳河右岸》《群山之巅》等，关注鄂温克族聚居区的自然环境、人文历史与经济发展，因此迟子建也与河流、草原、精神、文化等节点相联系。</p>
            </div>
        </div>
    </div>
</section>
                <section class="w3l-about py-5" id="about">
    <div class="container py-md-5 py-2">
        <div class="row w3l-row">
            <div class="col-lg-6 w3l-image pe-lg-5 mb-lg-0 mb-md-5 mb-4">
                <img src="static/images/wlt2.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 w3l-about-info px-lg-4 align-center">
                <h5 class="w3l-subtitle">乌孜别克族</h5>
                <p class="my-4 pe-lg-5">作为乌孜别克族的主要分布地，新疆成为最关键的节点，其他节点多由新疆和乌孜别克族发散开来。文化、服饰、歌唱、工艺美术、非遗、绣花、丝绸、连衣裙、民间故事、传统节日、文化遗产等乌孜别克族的人文历史领域的节点颇多，相互联系，且与裕固族、高山族、门巴族、仡佬族、黎族等其他少数民族节点关联，而这些少数民族节点又共同连向民族团结节点。基层、人民大会堂、西部、大学生、辉煌、共产党员、青年、社区等与当地经济发展相关的节点相互连接。</p>
            </div>
        </div>
    </div>
</section>
                <section class="w3l-about py-5" id="about">
    <div class="container py-md-5 py-2">
        <div class="row w3l-row">
            <div class="col-lg-6 w3l-image pe-lg-5 mb-lg-0 mb-md-5 mb-4">
                <img src="static/images/wlt3.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 w3l-about-info px-lg-4 align-center">
                <h5 class="w3l-subtitle">俄罗斯族</h5>
                <p class="my-4 pe-lg-5">由于以”俄罗斯族”为关键词进行爬取时，爬取结果涉及很多俄罗斯的俄罗斯族，而非我国的俄罗斯族，因此，与俄罗斯、俄乌战争相关的乌克兰、普京、莫斯科、解体、战争、军人、贫困家庭等成为了重要节点。将此类节点除外，就我国的俄罗斯族而言，草原、河边、漠河、大自然、湿地等与生态环境相关的节点相互关联，并与责任、牧业等涉及生态环境治理与当地产业的节点关联。儿童、贫困、工人、学习、房子、读研等与居民生活有关的节点相互联系。</p>
            </div>
        </div>
    </div>
</section>
        </div>
    </div>
</section>
<!-- //Blog Section -->


</html>